altgraph==0.17
appdirs==1.4.4
asgiref==3.4.1
astor==0.8.1
auto-py-to-exe==2.9.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
colorama==0.4.4
config==0.5.0.post0
cssselect==1.1.0
DevSqlite3==1.2
dill==0.3.4
dj-database-url==0.5.0
Django==4.0
django-heroku==0.3.1
Eel==0.12.4
fake-useragent==0.1.11
future==0.18.2
geojson==2.5.0
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
idna==3.2
keyboard==0.13.5
llvmlite==0.38.0
lxml==4.6.3
MouseInfo==0.1.3
noise==1.2.2
numba==0.55.0
numpy==1.21.1
parse==1.19.0
pefile==2021.5.13
perlin-noise==1.10
Pillow==8.3.1
psycopg2==2.9.2
PyAutoGUI==0.9.53
pycparser==2.20
pyee==8.1.0
pygame==2.1.2
PyGetWindow==0.0.9
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
pyowm==3.2.0
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer==0.2.5
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyquery==1.4.3
PyRect==0.1.4
PyScreeze==0.1.27
PySide6==6.1.2
PySimpleGUI==4.45.0
PySocks==1.7.1
pystray==0.17.3
python-dateutil==2.8.2
PyTweening==1.0.3
pywin32==301
pywin32-ctypes==0.2.0
requests==2.26.0
requests-html==0.10.0
rssi @ git+https://github.com/jvillagomez/rssi_module.git@e88922997b6c43dd0dbc26d222f21a6443dff875
selenium==3.141.0
shiboken6==6.1.2
six==1.16.0
soupsieve==2.2.1
sourceinspect==0.0.4
sqlparse==0.4.2
taichi==0.8.10
torch==1.9.0
tqdm==4.62.0
twill==3.0
typing-extensions==3.10.0.0
tzdata==2021.5
urllib3==1.26.6
vk-api==11.9.4
w3lib==1.22.0
websockets==8.1
whichcraft==0.6.1
whitenoise==5.3.0
zope.event==4.5.0
zope.interface==5.4.0